.custom-navbar {
    background-color: #032478;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-link {
    color: white !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #D4A017 !important;
}
.navbar-brand {
    font-weight: 700;
    letter-spacing: 2px;
}
.logo-img {
    height: 55px;
    width: auto;
    margin-right: 12px;
}

.brand-text {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
}